<a href="https://colab.research.google.com/github/PENROG21/PySark/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

RDD методы

In [38]:
# Импортируем библиотеки
from pyspark.sql import SparkSession
from operator import add

# Создание объекта SparkSession
# SparkSession - это точка входа в программирование Spark.
# builder() создает строитель SparkSession.
# appName() задает имя приложения.
# config() задает конфигурацию для Spark.
# getOrCreate() получает существующий SparkSession или создает новый, если его нет.
spark = SparkSession.builder \
    .appName("MySparkApp") \
    .config("spark.master", "local[*]") \
    .getOrCreate()

# Получаем SparkContext из SparkSession.
# SparkContext - это основной объект, представляющий контекст Spark.
sc = spark.sparkContext

# Создание RDD из списка.
data = [1, 2, 3, 4, 5, 5, 6, 7, 8, 4, 9, 10]
data2 = [1, 2, 3, 40]

# Parallelize создает RDD из списка или массива.
rdd = sc.parallelize(data)
rdd2 = sc.parallelize(data2)

# Вычисляем сумму чисел в RDD.
# reduce() сводит элементы RDD к одному значению с использованием указанной функции.
# add() - это функция, которая складывает два числа.
print("reduce", rdd2.reduce(add))

# Остановка SparkSession.
spark.stop()

reduce 46

## rdd.map()
**Что делает метод:**
* Применяет функцию к каждому элементу RDD и возвращает новый RDD с измененными элементами.

**Форма использования:**
```
new_rdd = rdd.map(lambda x: <выражение>)
```

In [16]:
rdd_mapped = rdd.map(lambda x: x*2)
print(rdd_mapped.collect())

[2, 4, 6, 8, 10, 12, 14, 16]

## rdd.filter()

**Что делает метод:**
* Возвращает новый RDD, содержащий только те элементы, которые удовлетворяют заданному условию.

**Форма использования:**
```
new_rdd = rdd.filter(lambda x: <условие>)
```

In [17]:
rdd_filter = rdd.filter(lambda x: x%2 == 0)
print(rdd_filter.collect())

[2, 4, 6, 8]

## rdd.flatMap()
**Что делает метод:**
* Применяет функцию к каждому элементу RDD и возвращает новый плоский RDD, объединяя результаты.

**Форма использования:**
```
new_rdd = rdd.flatMap(lambda x: <выражение>)
```

In [20]:
rdd_flatMap = rdd.flatMap(lambda x: [x, x*2])
print(rdd_flatMap.collect())

[1, 2, 2, 4, 3, 6, 4, 8, 5, 10, 6, 12, 7, 14, 8, 16, 9, 18, 10, 20]

## rdd.distinct()
**Что делает метод:**
* Возвращает новый RDD с уникальными элементами исходного RDD.

**Форма использования:**
```
new_rdd = rdd.distinct()
```

In [25]:
new_rdd = rdd.distinct()
print(new_rdd.collect())

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

## rdd.union()
**Что делает метод:**
* Возвращает новый RDD, являющийся объединением исходного RDD с другим RDD.

**Форма использования:**
```
new_rdd = rdd.union(other_rdd)
```

In [28]:
rdd_union = rdd.union(rdd2)
print(rdd_union.collect())

[1, 2, 3, 4, 5, 5, 6, 7, 8, 4, 9, 10, 1, 2, 3, 40]

## rdd.count()
**Что делает метод:**
* Возвращает количество элементов в RDD.

**Форма использования:**
```
count = rdd.count()
```

In [29]:
rdd.count()

12

## rdd.take()
**Что делает метод:**
* Возвращает первые N элементов RDD в виде списка.

**Форма использования:**
```
elements = rdd.take(n)
```

In [33]:
print(rdd2.take(3))

[1, 2, 3]